<header>
  <div>
    <h2>Alimentos</h2>
  </div>
</header>

<section class="filters-action">
  <div class="filters">
    <div class="search-filter"><i class="fa-solid fa-magnifying-glass" (click)="filterResults(filter.value)"></i><input
      type="text" #filter placeholder="Pesquise..." (keydown.enter)="filterResults(filter.value)"></div>
  </div>
  <button class="btn-basic" (click)="openForm()">Adicionar <i class="fa-solid fa-plus"></i></button>
</section>

@if (formOpen) {
  <div class="modal-overlay">
    <div class="modal-content card">
      <h2>
        @if (isEditando) {
          Editar tipo alimentício
        } @else {
          Novo tipo alimentício
        }
      </h2>
      <form [formGroup]="form" (ngSubmit)="isEditando? atualizarTipoalimenticio() : adicionarTipoalimenticio()">
        <input type="hidden" formControlName="id">
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">
          <mat-error>Nome do tipo é obrigatório.</mat-error>
        </mat-form-field>
      <div class="action-btns">
        <button class="btn-basic" type="submit">
          @if (isEditando) {
            Atualizar tipo alimentício
          } @else {
            Adicionar tipo alimentício
          }
        </button>
        <button type="reset" class="btn-basic btn-var-dark" (click)="resetForm()">
          Cancelar
        </button>
      </div>
      </form>
    </div>
  </div>
}

@if (errorMessage != '') {
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ errorMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

@if (successMessage != '') {
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ successMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

<section id="" class="table-responsive">
  <table>
    <thead>
    <tr>
      <th>Alimento</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>

      @if (t.length === 0) {
        <p>Nenhum resultado encontrado.</p>
      } @else {
        @for (t of t; track t.id) {
          <tr>
            @if (t.usuario?.id == null || t.usuario?.id === usuLogado) {
              <td>{{ t.nome }}</td>
            }
            @if (t.usuario?.id === usuLogado) {
              <td class="table-actions">
                <mat-icon fontIcon="edit"  (click)="editandoTipoalimenticio(t)"></mat-icon>
                <mat-icon fontIcon="delete"  (click)="excluirTipoalimenticio(t)"></mat-icon>
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</section>
