<button type="button" (click)="openForm()">Adicionar edital</button>


<div>
  @if(e.length === 0 ){
    <p>Nenhum resultado encontrado.</p>
  } @else{
    @for(e of e ; track e.id){

      <div>
        <div>
          <p>{{  e.nome  }}, {{e.observacao}}</p>
          <button (click)="editandoEdital(e)">Editar</button>
          <button (click)="excluirEdital(e)">Excluir</button>
        </div>
      </div>
    }
  }

  @if(formOpen){
    <form [formGroup]="form" (ngSubmit)="isEditando? atualizarEdital() : adicionarEdital()">
      <div class="row">
        <input type="hidden" formControlName="id">
        <mat-form-field class="col-md-6 mb-3">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">
          <mat-error>Nome do edital é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 mb-3">
          <mat-label>Observação</mat-label>
          <input matInput type="text" formControlName="observacao">
        </mat-form-field>
        <hr class="mb-4">
        <div class="row">
          <button class="btn btn-primary" type="submit">
            @if(isEditando){
            Atualizar edital
            } @else{
              Adicionar edital
            }
          </button>
          <button type="reset" class="btn btn-outline-dark mt-4" (click)="resetForm()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  }

  @if (errorMessage != ''){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ errorMessage }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
    </div>
  }

  @if (successMessage != ''){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ successMessage }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
    </div>
  }




</div>
