<div class="alert-box">
  @if (errorMessage != '') {
    <div class="alert alert-warning alert-dismissible" role="alert">
      <strong>{{ errorMessage }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
    </div>
  }

  @if (successMessage != '') {
    <div class="alert alert-success alert-dismissible" role="alert">
      <strong>{{ successMessage }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
    </div>
  }
</div>

<header>
  <div>
    <h2>Entregas Realizadas</h2>
  </div>
  <h4>Clique em uma entrega para visualizar os produtos entregues.</h4>
</header>

<section class="filters-action data-search">
  <div class="filters">
    <small>De</small>
    <input type="date" #datestart>
    <small>Até</small>
    <input type="date" #dateend>
    <i class="fa-solid fa-magnifying-glass search-filter"
       (click)="searchDateBetween(datestart.value, dateend.value)"></i>
  </div>
  <div class="action-btns">
    <button class="btn-basic" (click)="entOpenForm()">Adicionar <i class="fa-solid fa-plus"></i></button>
    <button class="btn-basic btn-var-border" (click)="generatePdf()"> Exportar <i
      class="fa-solid fa-arrow-right-from-bracket"></i></button>
  </div>
</section>

@if (openFormEnt) {
  <div class="modal-overlay">
    <div class="modal-content card">
      <h2>
        @if (isEditandoEnt) {
          Editar Entrega
        } @else {
          Nova Entrega
        }
      </h2>
      <form [formGroup]="formEnt" (ngSubmit)="isEditandoEnt? atualizarEntrega() : addEntrega()">
        <mat-form-field class="full-width">
          <mat-label>Edital</mat-label>
          <mat-select formControlName="edital" [compareWith]="compararObjetos">
            @for (ed of ed; track ed.id) {
              @if (ed.usuario?.id === usuLogado) {
                <mat-option [value]="ed">
                  {{ ed.nome }}
                </mat-option>
              }
            }
          </mat-select>
          <mat-error class="form-error">Edital é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Data</mat-label>
          <input matInput type="date" formControlName="dataentrega">
          <mat-error class="form-error">Data é obrigatório.</mat-error>
        </mat-form-field>
        <div class="action-btns">
          <button class="btn-basic" type="submit">
            @if (isEditandoEnt) {
              Editar entrega
            } @else {
              Adicionar Entrega
            }
          </button>
          <button (click)="resetFormEnt()" type="reset" class="btn-basic btn-var-dark">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
}

<section id="" class="table-responsive">
  <table>
    <thead>
    <tr>
      <th>Edital</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
      @if (e.length === 0) {
        <p>Nenhum resultado encontrado.</p>
      }
      @for (e of e; track e.id) {
        @if (e.usuario.id === usuLogado) {
          <tr class="clickable" (click)="buscaProdutosPorId(e)">
            <td>{{ e.edital.nome }}</td>
            <td>{{ e.dataentrega | date:'fullDate' : 'UTC' : 'pt' }}</td>
            <td class="table-actions">
              <mat-icon fontIcon="add" (click)="addingProdutos(e.id)"></mat-icon>
              <mat-icon fontIcon="edit" (click)="editandoEntrega(e)"></mat-icon>
              <mat-icon fontIcon="delete" class="delete" (click)="excluirEntrega(e)"></mat-icon>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</section>

<section class="table-responsive">
  <table>
    <thead>
    <tr>
      <th>Alimento</th>
      <th>Observação</th>
      <th>Qtd.</th>
      <th>Agricultor</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>
      @if (p.length === 0) {
        <p>Nenhum produto encontrado. Clique em uma entrega para mostrar os produtos.</p>
      } @else {
        @for (p of p; track p.id) {
          <tr>
            <td>{{ p.tipo.nome }}</td>
            <td>{{ p.observacao }}</td>
            <td>{{ p.qtd }} {{ p.tipound }}</td>
            <td>{{ p.agricultor.nome }}</td>
            <td>
              <mat-icon fontIcon="edit" (click)="editandoProduto(p)"></mat-icon>
              <mat-icon fontIcon="delete" class="delete" (click)="excluirProduto(p)"></mat-icon>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</section>

@if (openFormProd) {
  <div class="modal-overlay">
    <section class="modal-content card">
      <h2>
        @if (isEditandoProd) {
          Editar Produto
        } @else {
          Novo Produto
        }
      </h2>
      <form [formGroup]="formProd" (ngSubmit)="isEditandoProd? atualizarProduto() : addProduto()">
        <div class="filter-row">
          <mat-form-field>
            <mat-label>Agricultor</mat-label>
            <mat-select formControlName="agricultor" [compareWith]="compararObjetos">
              @for (agr of a; track agr.id) {
                @if (agr.usuario.id === usuLogado) {
                  <mat-option [value]="agr">
                    {{ agr.nome }}
                  </mat-option>
                }
              }
            </mat-select>
            <mat-error class="form-error">Agricultor é obrigatório.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo alimentício</mat-label>
            <mat-select formControlName="tipo" [compareWith]="compararObjetos">
              <mat-option>
                <ngx-mat-select-search [formControl]="tipoFiltroCtrl" [placeholderLabel]="'Pesquise'"
                                       [noEntriesFoundLabel]="'Nenhum resultado encontrado'"></ngx-mat-select-search>
              </mat-option>
              @for (tipo of tipoFiltrado | async; track tipo) {
                @if (tipo.usuario?.id == null || tipo.usuario?.id == usuLogado) {
                  <mat-option [value]="tipo">
                    {{ tipo.nome }}
                  </mat-option>
                }
              }
            </mat-select>
            <mat-error class="form-error">Tipo alimentício é obrigatório.</mat-error>
          </mat-form-field>
        </div>
        <div class="filter-row">
          <mat-form-field>
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" formControlName="qtd">
            <mat-error class="form-error">Deve ser número.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo de unidade</mat-label>
            <mat-select formControlName="tipound">
              <mat-option [value]="'KG'">KG</mat-option>
              <mat-option [value]="'UND'">UND</mat-option>
            </mat-select>
            <mat-error class="form-error">Tipo de unidade é obrigatório</mat-error>
          </mat-form-field>
          <input type="hidden" formControlName="id">
        </div>
        <mat-form-field class="full-width">
          <mat-label>Observação (opcional)</mat-label>
          <textarea matInput type="text" formControlName="observacao"></textarea>
        </mat-form-field>
        <div class="action-btns">
          <button class="btn-basic" type="submit">
            @if (isEditandoProd) {
              Atualizar Produto
            } @else {
              Adicionar Produto
            }
          </button>
          <button type="reset" class="btn-basic btn-var-dark" (click)="resetFormProd()">
            Cancelar
          </button>
        </div>
      </form>
    </section>
  </div>
}
