<header>
  <div>
    <h2>Agricultores</h2>
  </div>
</header>

<section class="filters-action">
  <div class="filters">
    <div class="search-filter"><i class="fa-solid fa-magnifying-glass" (click)="filterResults(filter.value)"></i><input
      type="text" #filter placeholder="Pesquise..." (keydown.enter)="filterResults(filter.value)"></div>
  </div>
  <button class="btn-basic" (click)="openForm()">Adicionar <i class="fa-solid fa-plus"></i></button>
</section>


<section id="" class="table-responsive">
  <table>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Contato</th>
      <th>Ações</th>
    </tr>
    </thead>

    <tbody>

      @if (a.length === 0) {
        <p>Nenhum resultado encontrado.</p>
      } @else {
        @for (a of a; track a.id) {
          <tr>
            @if (a.usuario?.id === usuLogado) {
              <td>{{ a.nome }}</td>
              <td>{{ a.contato }}</td>
              <td class="table-actions">
                <mat-icon fontIcon="edit"  (click)="editandoAgricultor(a)"></mat-icon>
                <mat-icon fontIcon="delete"  (click)="excluirAgricultor(a)"></mat-icon>
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</section>


@if (formOpen) {
  <div class="modal-overlay">
    <section class="modal-content card">
      <h2>Novo Agricultor</h2>
      <form [formGroup]="form" (ngSubmit)="isEditando? atualizarAgricultor() : adicionarAgricultor()">
        <input type="hidden" formControlName="id">
        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">
          <mat-error class="form-error">Nome é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Informação de contato</mat-label>
          <input matInput type="text" formControlName="contato">
          <mat-error class="form-error">Contato é obrigatório.</mat-error>
        </mat-form-field>

        <div class="action-btns">
          <button class="btn-basic" type="submit">
            @if (isEditando) {
              Atualizar agricultor
            } @else {
              Adicionar agricultor
            }
          </button>
          <button type="reset" class="btn-basic btn-var-dark" (click)="resetForm()">
            Cancelar
          </button>
        </div>
      </form>
    </section>
  </div>
}
@if (errorMessage != '') {
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ errorMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

@if (successMessage != '') {
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ successMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}




