
@if (errorMessage != '') {
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ errorMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

@if (successMessage != '') {
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ successMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

<header>
  <div>
    <h2>Cronograma</h2>
  </div>
</header>


<section class="filters-action">
  <div class="filters">
    <div class="search-filter"><i class="fa-solid fa-magnifying-glass" (click)="filterResults(filter.value)"></i><input
      type="text" #filter placeholder="Pesquise..." (keydown.enter)="filterResults(filter.value)"></div>
  </div>
  <div class="action-btns">
    <button class="btn-basic" (click)="openForm()">Adicionar <i class="fa-solid fa-plus"></i></button>
  </div>
</section>

@if (formOpen) {
  <div class="modal-overlay">
    <section class="modal-content card">
      @if (isEditando) {
        <h2>Editar Cronograma</h2>
      } @else {
        <h2>Novo Cronograma</h2>
      }

      <form [formGroup]="form" (ngSubmit)="isEditando? atualizarcronograma() : adicionarcronograma()">
        <div class="row">
          <input type="hidden" formControlName="id">
          <div class="filter-row">
            <mat-form-field>
              <mat-label>Previsão de entrega</mat-label>
              <input matInput type="date" formControlName="previsaoentrega">
              <mat-error class="form-error">Obrigatório.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tipo alimentício</mat-label>
              <mat-select formControlName="tipo" [compareWith]="compararObjetos">
                <mat-option>
                  <ngx-mat-select-search [formControl]="tipoFiltroCtrl" [placeholderLabel]="'Pesquise'"
                                         [noEntriesFoundLabel]="'Nenhum resultado encontrado'"></ngx-mat-select-search>
                </mat-option>
                @for (tipo of tipoFiltrado | async; track tipo) {
                  <mat-option [value]="tipo">
                    {{ tipo.nome }}
                  </mat-option>
                }
              </mat-select>
              <mat-error class="form-error">Obrigatório.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <mat-label>Observação (opcional)</mat-label>
              <textarea rows="4" matInput type="text" formControlName="observacao"></textarea>
            </mat-form-field>
          </div>

          <div class="filter-row">
            <mat-form-field>
              <mat-label>Qtd.</mat-label>
              <input matInput type="number" formControlName="qtd">
              <mat-error class="form-error">Obrigatório.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tipo unidade</mat-label>
              <mat-select formControlName="tipound">
                <mat-option [value]="'KG'">KG</mat-option>
                <mat-option [value]="'UND'">UND</mat-option>
              </mat-select>
              <mat-error class="form-error">Obrigatório.</mat-error>
            </mat-form-field>
          </div>

          <div class="action-btns">
            <button class="btn-basic" type="submit">
              @if (isEditando) {
                Atualizar cronograma
              } @else {
                Adicionar cronograma
              }
            </button>
            <button type="reset" class="btn-basic btn-var-dark" (click)="resetForm()">
              Cancelar
            </button>
          </div>
        </div>
      </form>

    </section>
  </div>
}


<section class="table-responsive">
  <table>
    @for (grupo of cronoAgrupado; track grupo.monthYear) {
      <thead>
      <tr>
        <th colspan="5">{{ grupo.monthYear | date:"MMMM 'de' yyyy" : 'UTC' : 'pt' }}</th>
      </tr>
      </thead>
      @for (item of grupo.items; track item.id) {
        @if (item.usuario.id === usuLogado) {
          <tbody>
          <tr>
            <td>{{ item.tipo.nome }}</td>
            <td>{{ item.qtd }} {{ item.tipound }}</td>
            <td>{{ item.observacao }}</td>
            <td class="table-actions">
              <mat-icon fontIcon="edit" (click)="editandocronograma(item)"></mat-icon>
              <mat-icon fontIcon="delete" (click)="excluircronograma(item)"></mat-icon>
            </td>
          </tr>
          </tbody>
        }
      }
    }
  </table>
</section>
