<header>
  <div>
    <h2>Início</h2>
  </div>
  <h4>{{tempoDiaMsg}}, {{usuNome}}, o que você gostaria de fazer?</h4>
</header>

@if(showWelcome){
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="welcome">
        <i class="fa-brands fa-pagelines"></i>
        <div class="modal-header-row">
          <h2>Bem-vindo ao webapp de controle de entregas PNAE!</h2>
        </div>
        <p>É ótimo ter você aqui!</p>
        <p>Parece que você ainda não registrou nenhuma entrega. Para começar, registre um edital e um agricultor.</p>
        <button class="btn-basic" (click)="clearWelcome()">Ok</button>
      </div>
    </div>
  </div>
}

@if (errorMessage != ''){
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ errorMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

@if (successMessage != ''){
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ successMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clear()"></button>
  </div>
}

@if(openDetalhes){
  <div class="modal-overlay" (click)="fechar()">
    <div class="modal-content">
      <div class="entrega-detalhes">
        <div class="modal-header-row">
          <h2>Entrega - {{entrega.edital.nome}}</h2>
          <button type="button" class="btn-close" (click)="fechar()"></button>
        </div>
        <p>Entrega realizada em {{entrega.dataentrega | date:'fullDate' : 'UTC' : 'pt'}}</p>
        <h4>Produtos</h4>
        <table>
          <tr>
            <th>Alimento</th>
            <th>Observação</th>
            <th>Qtd.</th>
            <th>Agricultor</th>
          </tr>
          @for(p of produtos ; track p.id){
            <tr>
              <td>{{p.tipo.nome}}</td>
              <td>{{p.observacao}}</td>
              <td>{{p.qtd}} {{p.tipound}}</td>
              <td>{{p.agricultor.nome}}</td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
}

<section class="btn-cards" >
  <button class="btn-card" style="background-color: #30A26B;" routerLink="../entrega">
    <h2>Registrar nova entrega de alimento</h2>
    <i class="fa-solid fa-chevron-right"></i>
  </button>

  <button class="btn-card" routerLink="../cronograma" style="background-color: #ADD52B;">
    <h2>Registrar cronograma de entrega</h2>
    <i class="fa-solid fa-chevron-right"></i>
  </button>

  <button class="btn-card" routerLink="../edital" style="background-color: #D0DA48;">
    <h2>Registrar novo Edital</h2>
    <i class="fa-solid fa-chevron-right"></i>
  </button>
</section>

<section id="stats-row">
  <div class="card">
    <h4>Entregas do mês</h4>
    @if (calendarOptions.events) {
      <full-calendar [options]="calendarOptions"></full-calendar>
    }
  </div>

  <div class="card">
    <h4>Gráfico de entregas</h4>
    <div class="chart-container">
      @if (chartData.length > 0) {
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
      }
    </div>
  </div>
</section>

